data/EA Survey 2014 CONFIDENTIAL (not anonymous).csv
data/EA Survey 2015 CONFIDENTIAL (not anonymous).csv
data/imsurvey2015-anonymized.csv
data/imsurvey2015.csv
data/ea-survey-2017-confidential-no-anon.csv
data/ea-survey-2017-donations-only-confidential-no-anon.csv
data/imsurvey2017-anonymized.csv
data/ea_comments.txt
data/2017-survey-analysis-tables.txt
