data/2014/EA Survey 2014 CONFIDENTIAL (not anonymous).csv
data/2015/EA Survey 2015 CONFIDENTIAL (not anonymous).csv
data/2015/imsurvey2015-anonymized.csv
data/2015/imsurvey2015.csv
data/2017/ea-survey-2017-confidential-no-anon.csv
data/2017/ea-survey-2017-donations-only-confidential-no-anon.csv
data/2017/imsurvey2017-anonymized.csv
data/2017/ea_comments.txt
data/2017/2017-survey-analysis-tables.txt
